---
layout: default
---

<div>
  <h1 class="welcome-text">
   Imoni McCorvey
  </h1>
  <p class="welcome-subtext"> 
    Creative technologist exploring artistic applications of technology.
  </p>
  {% include social_links.html %}
  <hr style="margin-bottom: 3rem;" />
  <h2> Projects and blog posts </h2>
  <ul>
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <h2> Past Work </h2>
  {% include experience_list.html %}

</div>
