<div class="experience-list">
  <ul>
    <li>
      <h4 class="page-heading">Software Engineer at iSeatz</h4>
      <p class="subtitle">Present</p>
    </li>
    <li>
      <h4 class="page-heading">Interned at Space Telescope Science Institute Operated for NASA</h4>
      <p class="subtitle">2016 - 2018</p>
    </li> 
    <li>
      <h4 class="page-heading">Earned a degree in Computer Science from Johns Hopkins University</h4>
      <p class="subtitle">Graduated in 2018</p>
    </li>
  </ul>
</div>