<div class="experience-list">
  <ul>
    <li>
      <h4 class="page-heading">Software Engineer at Amazon Music</h4>
      <p class="subtitle">2021 - Present</p>
    </li>
    <li>
      <h4 class="page-heading">Software Engineer at Amazon Retail</h4>
      <p class="subtitle">2020 - 2021</p>
    </li>
    <li>
      <h4 class="page-heading">Software Engineer at iSeatz</h4>
      <p class="subtitle">2019 - 2020</p>
    </li>
    <li>
      <h4 class="page-heading">Intern at Space Telescope Science Institute Operated for NASA</h4>
      <p class="subtitle">2016 - 2018</p>
    </li> 
  </ul>
</div>